/**
* @file
* Paddle admin theme
*
* Contains all styles related to tables
*/
table {
  border: 0;
  border-spacing: 1px 0;
  margin: 10px 0;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: $main-blue;
}
th.active img {
  margin-left: 2px;
}
td.views-field-title,
table td .description,
.dashboard-page .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.page-admin-config-development-testing table {
  table-layout: auto;
}
.page-admin-config-development-testing table td {
  white-space: normal;
  overflow: auto;
  text-overflow: clip;
}

#views-form-users-overview-page td {
  word-wrap: break-word;
}

table tr th,
table tr th a {
  color: $c-white;
  font-weight: 700;
  text-transform: uppercase;
}
table tr th a:hover,
table tr th.active a {
  color: $c-white;
  padding-bottom: 2px;
  border-bottom: 2px solid $c-white;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 6px 8px 10px;
  text-align: left;
  border: none;
}
tr,
tr.odd,
tr.even {
  background: $light-grey;
  border-bottom: 4px solid $c-white;
}

table .links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table .links li {
  padding: 0 1em 0 0;
}
#taxonomy th.title {
  width: 82%;
}
#menu-overview th.title {
  width: 32%;
}
#menu-overview {
  td {
    word-wrap: break-word;
  }
}
th.checkbox {
  width: 77px;
  text-align: center;
}
.menu-enabled input {
  margin: 0;
}
th.actions {
  width: 10%;
}
.menu-operations {
  padding: 0;
}
table.sticky-header {
  z-index: 1000;
}
/* @Content manager internal search page */
table th.views-field-title {
  width: 40%;
}
table th.views-field-translations {
  width: 10%;
}
table th.views-field-view-node {
  width: 13%;
}
table th.views-field-type {
  width: 10%;
}
table th.views-field-state {
  width: 10%;
}
table th.views-field-nid-1 {
  width: 5%;
}
th.views-field-stamp,
th.views-field-publish-on,
th.views-field-unpublish-on {
  width: 10%;
}
/* we disable sticky header for modal dialogs */
.active-modal table.sticky-header {
  visibility: hidden!important;
}
.views-field.views-field-changed {
  width: 12%;
}
.table-actions {
  width: 65%;
}
@media (max-width: 1000px) {
  .views-field-translations span {
    clear: both;
    float: left;
  }
  table.sticky-header {
    position: static!important;
  }
  th.actions {
    width: 14%;
  }
}
