/**
 * @file
 * Paddle Education module styling.
 */

.form-item-field-paddle-ep-more-info-link-und-0-title, .form-item-field-paddle-ep-more-info-link-und-0-url {
  label {
    font-weight: normal;
  }
}

// -------------------------------------------------------------------
// :: Language Switcher
// -------------------------------------------------------------------

.page-admin-paddlet-store-app-paddle-education-page ul.language-switcher-locale-url {
  float: right;

  li {
    float: left
  };
}
