/**
 * @file
 * Event module styling.
 */

.node-event_page-form {
  .date-float {
    float: none;
  }

  .fieldset-legend {
    font-size: 22px;
    font-weight: bold;
  }

  .date-combo {
    padding-left: 0;
    margin-left: 0;
  }

  legend {
    padding-left: 0;
  }

  #field-event-url-add-more-wrapper .form-wrapper {
    padding-left: 0;
  }
}
