/**
 * @file
 * Researcher Paddlet styling.
 */

.researcher-spotlight,
.researcher-teaser {
  margin: 0 1% 2% 0;

  .contact {
    margin-top: 15px;
  }

  h3 {
    margin-top: 0;
  }
}

.paddle-add-pane-list {
  .researcher-team,
  .researcher-pane {
    a {
      background-image: url("../images/add_vub_address_block.png");
    }
  }
}

.researcher-info {
  .extra-links {
    a {
      margin-left: 5px;
    }
  }
}
