/**
* @file
*  Styling for the Rich Footer.
*/

// -------------------------------------------------------------------
// :: Language Switcher
// -------------------------------------------------------------------

.page-admin-paddle-rich-footer-edit ul.language-switcher-locale-url {
  float: right;

  li {
    float: left
  };
}
