/**
* @file
*  Styling for the VUB specific content.
*/

// -------------------------------------------------------------------
// :: BANNER BLOCK
// -------------------------------------------------------------------
.pane-vub-banner-block {
  .pane-content {
    padding-top: 0;
  }
}

.vub-banner-block {
  .vub-banner-image {
    height: 50vh;
    max-height: 350px;
  }
}

.vub-region-block {
  .vub-banner-image {
    height: 50vh;
    max-height: 280px;
    max-width: 582px;
    margin-left: auto;
    margin-right: auto;
  }
}

.vub-banner-block, .vub-region-block {
  .vub-banner-image {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


    .vub-center-div {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      text-align: center;
    }

    .vub-inner-div {
      display: table;
      height: 100%;
      width: 100%;
    }

    .vub-button {
      padding-left: 2em;
      padding-right: 2em;
      margin-top: 1em;
      color: #fff;
    }

    h4 {
      font-size: 1.875rem;
      line-height: 1.45;
      color: #fff;
      text-transform: uppercase;
    }

    .vub-outer-div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    h3 {
      margin: 0 50px;
      font-size: 1.625rem;
      font-family: "Roboto Condensed";
      line-height: 1.45;
    }

    h1, h2 {
      font-size: 4.0625rem;
      margin: .1em 0;
      line-height: 1.025;
    }

    p {
      font-size: 22px;
      font-weight: 500;
      margin: 1em 0 0;
      line-height: 1.2em;
      color: #fff;
    }

    h1, h2, h3 {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #fff;
    }
  }
}

// -------------------------------------------------------------------
// :: Paddle Store Configuration form
// -------------------------------------------------------------------

@mixin n-columns($min-width, $gutter, $last-equal: false, $max-cols: 5) {
  #paddle-vub-client-settings-form .form-checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter;
    margin-top: -$gutter;

    .form-item {
      flex: 1 0 $min-width;
      margin-left: $gutter;
      margin-top: $gutter;

      @if $last-equal {
        @for $i from 2 through $max-cols {
          $screen-width: ($min-width*$i)+($gutter*$i);
          $column-width: (100%/$i);
          @media (min-width: $screen-width) {
            max-width: calc(#{$column-width} - #{$gutter});
          }
        }

        $column-width: (100%/$max-cols);
        @media (min-width: $min-width*$max-cols) {
          min-width: calc(#{$column-width} - #{$gutter});
        }
      }
    }
  }
}

@include n-columns(200px,  10px, true, 5);

// -------------------------------------------------------------------
// :: Node Edit Page
// -------------------------------------------------------------------

.node-form {
  .vub {
    margin-top: 30px;

    .field-name-field-vub-research-groups .form-checkboxes {
      margin-left: 16px;
    }
  }
}
#edit-field-vub-event-tags, #edit-field-vub-tags {
  .term-reference-track-list-container {
    display: none;
  }
}
